---
layout: mydefault
title: Blog
---
<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination b8t_m0">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span>{{ page }}</span>
    {% elsif page == 1 %}
      <a href= {{ "/blog/" | relative_url }} >{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}


<!-- post list -->
<ul class="b8t_list">
{% for post in paginator.posts %}
    <li class="b8t_listline">
      <a href="{{ post.url | relative_url }}">
      {% if post.image %}
            <img class="b8t_cell" src="{{site.baseurl}}/assets/images/th_{{ post.image }}"
             alt="{{ post.title }}" title="{{ post.title }}" /> 
      {% else %}
            <img class="b8t_cell" src="{{site.baseurl}}/assets/images/th_no_image.jpg"
             alt="{{ post.title }}" title="{{ post.title }}" /> 
      {% endif %}
      <big>{{ post.title }}</big></a><br />
      <p style="text-align: right; font-size: small;">
      {% if post.category %}<span class="b8t_cell"> {{ post.category }} </span>{% endif %}
      {% if post.tag %}<span class="b8t_cell"> {{ post.tag }} </span>{% endif %}
      </p>
    </li>
{% endfor %}
</ul>

